* {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 600;
	color: rgba(0,0,0,.7);
}

.game-container--parent {
	position: relative;
	width: 100%;
//	min-height: 100vh;
	margin: 10vh 0 20vh 0;
	&::before {
		content: 'Jane Gets 10!';
		display: block;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		font-size: 3rem;
		text-align: center;
		z-index: 1;
	}
}

.game-container__flex {
	position: relative;
	transform: translate(0, -50%);
	display: flex;
	justify-content: center;
	max-width: 350px;
	margin: 0 auto;
//	background-color:
	&::before {
		content: '';
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 66.66%;
		background-color: rgba(255,255,255,1);
	//	border-bottom: 3px solid yellow;
	}
}

/* Columns: */

[class*="game-flex__col--"] {
//	margin: 0 2px;
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0,.1);
}

.game-flex__col--1 {

}

.game-flex__col--2 {

}

.game-flex__col--3 {

}

.game-flex__col--4 {

}

.game-flex__col--5 {

}

/* Items: */
.game-grid__item {
	position: relative;
	height: 60px;
	width: 60px;
	text-align: center;
	line-height: 60px;
	border: 0px solid rgba(255,255,255,.5);
	transition-property: border, transform;
	transition-duration: .2s, .5s;
	font-size: 2rem;
}

.item-selected {
	border-top: 3px solid rgba(255,255,255,.5) !important;
	border-left: 3px solid rgba(255,255,255,.5) !important;
	border-bottom: 3px solid rgba(0,0,0,.5) !important;
	border-right: 3px solid rgba(0,0,0,.5) !important;
}

/* Color by number: */

.game-grid__item[data-value="1"] {
	background-color: hsla(120, 100, 70, 1);
}

.game-grid__item[data-value="2"] {
	background-color: hsla(200, 100, 70, 1);
}

.game-grid__item[data-value="3"] {
	background-color: hsla(30, 100, 70, 1);
}

.game-grid__item[data-value="4"] {
	background-color: hsla(10, 100, 60, 1);
}

.game-grid__item[data-value="5"] {
	background-color: hsla(140, 100, 30, 1);
}

.game-grid__item[data-value="6"] {
	background-color: hsla(270, 100, 50, 1);
}

.game-grid__item[data-value="7"] {
	background-color: hsla(310, 100, 50, 1);
}

.game-grid__item[data-value="8"] {
	background-color: hsla(0, 100, 40, 1);
}

.game-grid__item[data-value="9"] {
	background-color: hsla(60, 100, 70, 1);
}

.game-grid__item[data-value="10"] {
	background-image: url("img/10-rainbow-border.png"), linear-gradient(hsla(310, 100, 50, 1), hsla(310, 100, 50, 1));
	background-size: cover, auto;
}

// <a href='https://www.freepik.com/free-vector/silver-glitter-seamless-pattern_862869.htm'>Designed by Freepik</a>
.game-grid__item[data-value="11"] {
	background-image: url("img/11-silver-glitter-zoom.jpg");
	background-size: contain;
}

.game-grid__item[data-value="12"] {
	background-image: radial-gradient(rgba(212,0,255,1), rgba(125,0,255,1));
}

.game-grid__item[data-value="13"] {
	background-image: url("img/classy-fabric.png"); // radial-gradient(rgba(212,0,255,1), rgba(125,0,255,1));
	background-size: 120px;
}