* {
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem; }

.game-container--parent {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-areas: "label" "game"; }

.game-container__label {
  grid-area: label;
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin: 1em 0; }
  @media screen and (min-width: 400px) {
    .game-container__label {
      font-size: 3rem; } }

.game-container__flex {
  grid-area: game;
  position: relative;
  display: flex;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden; }

/* Columns: */
[class*="game-flex__col--"] {
  position: relative;
  transform: translate(0, -600px);
  display: flex;
  flex-direction: column; }

/* Items: */
.game-grid__item {
  position: relative;
  height: 60px;
  width: 60px;
  font-size: 2rem;
  text-align: center;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.7);
  border: 0px solid rgba(255, 255, 255, 0.3);
  transition-property: border, transform;
  transition-duration: .1s, .5s; }

.item-selected {
  border-top: 3px solid rgba(255, 255, 255, 0.3) !important;
  border-left: 3px solid rgba(255, 255, 255, 0.3) !important;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3) !important;
  border-right: 3px solid rgba(0, 0, 0, 0.3) !important; }

/* Color by number: */
.game-grid__item[data-value="1"] {
  background-color: #66ff66; }

.game-grid__item[data-value="2"] {
  background-color: #66ccff; }

.game-grid__item[data-value="3"] {
  background-color: #ffb366; }

.game-grid__item[data-value="4"] {
  background-color: #ff5533; }

.game-grid__item[data-value="5"] {
  background-color: #009933; }

.game-grid__item[data-value="6"] {
  background-color: #8000ff; }

.game-grid__item[data-value="7"] {
  background-color: #ff00d5; }

.game-grid__item[data-value="8"] {
  background-color: #cc0000; }

.game-grid__item[data-value="9"] {
  background-color: #ffff66; }

.game-grid__item[data-value="10"] {
  background-image: url("img/10-rainbow-border.png"), linear-gradient(#ff00d5, #ff00d5);
  background-size: cover, auto; }

.game-grid__item[data-value="11"] {
  background-image: url("img/11-silver-glitter-zoom.jpg");
  background-size: contain; }

.game-grid__item[data-value="12"] {
  background-image: radial-gradient(#d400ff, #7d00ff); }

.game-grid__item[data-value="13"] {
  background-image: url("img/classy-fabric.png");
  background-size: 120px; }
